.git
.copilot-temp
.evolver
.tmp
memory
node_modules
**/node_modules
dist
**/dist
libs/prisma-admin/src/generated
libs/prisma-app/src/generated
coverage
**/coverage
logs
uploads
chunks
merge
*.log
.env.*
!.env
!.env.production

docker/root-docker/.env
docker/spicedb/.env
docker/admin-api/.env
docker/app-api/.env
promtail-windows-amd64.exe
