*.sh text eol=lf
*.service text eol=lf
*.timer text eol=lf
docker/admin-api/deploy/* text eol=lf
docker/admin-api/Dockerfile text eol=lf
docker/admin-api/*.yaml text eol=lf
docker/admin-api/*.env.example text eol=lf
